<h1 style="color: #5e9ca0;">&nbsp;</h1>
<p><span style="color: #0000ff;"><strong>DISCLAIMER</strong>: This HTML for this page (only this page) is created using <a href="https://html-online.com/editor/">this tool</a></span></p>
<h1 style="text-align: center;">Bank Search App</h1>
<h3><a id="user-content-backend-coding-exercise" class="anchor" href="https://github.com/ranjjose-chaz/bank_search_app#backend-coding-exercise" target="_blank" rel="noopener" aria-hidden="true"></a>Backend Coding Exercise</h3>
<ul>
<li>Github Repo, <a href="https://github.com/ranjjose-chaz/bank_search_app" target="_blank" rel="noopener"><strong>here</strong></a>&nbsp;</li>
<li>
<p>Hosted in Heroku, <a href="https://bank02.herokuapp.com/" target="_blank" rel="nofollow noopener"><strong>here</strong></a></p>
</li>
<li>
<p>Supports two APIs</p>
<ol>
<li>GET API to fetch a bank details, given branch IFSC code</li>
<li>GET API to fetch all details of branches, given bank name and a city with limit and offset support Both APIs are authenticated using a JWT key with validity = 5 days</li>
</ol>
</li>
<li>
<p>A <a title="curls.sh" href="https://github.com/ranjjose-chaz/bank_search_app/blob/master/curls.sh" target="_blank" rel="noopener"><strong>curls.sh</strong></a> file is checked-in providing all combinations of the above GET APIs</p>
</li>
<li>
<p>The database is loaded from the data hosted <a href="https://github.com/snarayanank2/indian_banks" target="&quot;_blank">here</a></p>
</li>
</ul>
<h2 style="color: #2e6c80;">&nbsp;</h2>
<h2 style="color: #2e6c80;">&nbsp;</h2>
<h2 style="color: #2e6c80;">&nbsp;</h2>
<p>&nbsp;</p>